html {
	background-image: url(/img/background.png);
}

body, input {
	font-family: "Lucida Grande";
	font-size: 14px;
	color: #999999;
}

img {
	margin-bottom: 10px;
	margin-left: 7px;
	margin-right: 7px;
}

label {
	margin-right: 35px;
	margin-left: 35px;
}

input {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 2px;
	color: #878787;
}

input::-webkit-input-placeholder {
      text-align: center;
}	

hr {
	background:#82b919; 
	border:0; 
	height:7px;
	width: 160px;
	margin-left: 7px;
	margin-top: 0px;
}

#header {
	text-align: center;
	margin-top: 25px;
	margin-bottom: -10px;
}

#import {
	background: -webkit-linear-gradient(270deg ,#939294 0% ,#686768 81%); 
	border-radius: 5px;
	border: 0px;
	color: white;
	width: 150px;
	height: 38px;
}

#user-control, #error {
	text-align: center;
	margin-top: 10px;
}

#loader {
	background-image: url(/img/loading_indicator.png);
	width: 30px;
	height: 30px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

#playlists {
	margin-top: -30px;
}

#error {
	color: #ebd411;
	margin-top: 5px;
}

.sp-list > div {
	background-image: -webkit-linear-gradient(#FFF, #FFF 50%, #DDD 50%, #DDD) !important;
	background-color: none !important;
}

.sp-track > span {
	color: black !important;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.header_title {
	font-size: 21px;
}

.service {
	display: inline-block;
	position: relative;
	margin-top: 12px;
}

.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

.darken img {
    display: block;
    
    -webkit-transition: all 0.5s linear;
}

.hr {
    position: absolute;
    top: 0px;
}

.darken:hover img {
    opacity: 0.7;
            
}

.tip {
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.playlist-name {
	font-size: 16px;
}

.playlist {
	margin-top: 40px;
}

.playlist_title {
	vertical-align: top;
}

.add_all_playlists {
	margin: 5px 0px 0px 10px;
}

.add-playlist {
	margin-top: 5px;
}